In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
import time

RAW_DATA_PATH = "./raw_data.csv"
IRRELEVANT_COLUMNS = ['Unnamed: 0', 'Address']
CLEANED_DATA_FILE_PATH = "./clean_data.csv"

In [3]:
#Import data
df = pd.read_csv(RAW_DATA_PATH)

#Start cleaning process
df.drop(IRRELEVANT_COLUMNS, axis=1, inplace=True)
df = df[df['City'] != "Not in a city"]
df.loc[df['City'] == 'Dentsville (Dents)', 'City'] = 'Dentsville'
df.loc[df['City'] == 'Lexington-Fayette (corporate name for Lexington)', 'City'] = 'Lexington'
df.loc[df['City'] == 'Indianapolis (Remainder)', 'City'] = 'Indianapolis'
df.loc[df['City'] == 'Calumet City (PU RR name Calumet Park (sta.))', 'City'] = 'Calumet City'

In [5]:
unique_cities = df[['City', 'State']].drop_duplicates()

In [9]:
# Create a geolocator instance with a custom user_agent
geolocator = Nominatim(user_agent="city_geocoder")

# Dictionary to store results
city_coordinates = {}

for i, row in unique_cities.iterrows():
    # Build the query string with city, state, and country
    query = f"{row['City']}, {row['State']}, USA"
    location = geolocator.geocode(query)
    
    if location:
        city_coordinates[row['City']] = (location.latitude, location.longitude)
        print(f"{query}: {location.latitude}, {location.longitude}")
    else:
        not_found.append(row['City'])
        print(f"Location not found for {query}")
    
    time.sleep(1)

Phoenix, Arizona, USA: 33.4484367, -112.074141
Scottsdale, Arizona, USA: 33.4942189, -111.926018
Tucson, Arizona, USA: 32.2228765, -110.974847
Concord, California, USA: 37.9768525, -122.0335624
Bethel Island, California, USA: 38.029033999999996, -121.64000881834863
San Pablo, California, USA: 37.9621457, -122.3455263
Pittsburg, California, USA: 38.0181745, -121.8901232
Calexico, California, USA: 32.6668134, -115.4963754
Bakersfield, California, USA: 35.3738712, -119.019463
Burbank, California, USA: 34.1812089, -118.307201
Los Angeles, California, USA: 34.0536909, -118.242766
Long Beach, California, USA: 33.7690164, -118.191604
Hawthorne, California, USA: 33.9128272, -118.3426122
Costa Mesa, California, USA: 33.6633386, -117.903317
Rubidoux, California, USA: 33.99431195, -117.42376599221046
Arden-Arcade, California, USA: 38.6039613, -121.38300352999352
Victorville, California, USA: 34.5361067, -117.2911565
Chula Vista, California, USA: 32.6400541, -117.084195
San Diego, California, USA: 32.7174202, -117.162772
San Francisco, California, USA: 37.7792588, -122.4193286
Capitan, California, USA: 34.463564, -120.0432487
Lompoc, California, USA: 34.6391501, -120.4579009
Goleta, California, USA: 34.4358295, -119.8276389
Vandenberg Air Force Base, California, USA: 34.73835455, -120.58262457020024
Davenport, California, USA: 37.0116166, -122.1919134
Vallejo, California, USA: 38.1040864, -122.2566367
Welby, Colorado, USA: 39.838347999999996, -104.96649384499204
Washington, District Of Columbia, USA: 38.8950368, -77.0365427
Winter Park, Florida, USA: 28.5977707, -81.3510264
Chicago, Illinois, USA: 41.8755616, -87.6244212
Cicero, Illinois, USA: 41.8455398, -87.7540199
Calumet City, Illinois, USA: 41.616016, -87.5295837
Indianapolis, Indiana, USA: 39.7683331, -86.1583502
Kansas City, Kansas, USA: 39.1134562, -94.626497
Ashland, Kentucky, USA: 38.4784144, -82.6379387
Lexington, Kentucky, USA: 38.0464066, -84.4970393
Henderson, Kentucky, USA: 37.76721, -87.5573742
Louisville, Kentucky, USA: 38.2542376, -85.759407
Paducah, Kentucky, USA: 37.0833893, -88.6000478
Baton Rouge, Louisiana, USA: 30.4494155, -91.1869659
Detroit, Michigan, USA: 42.3315509, -83.0466403
Sunset Hills, Missouri, USA: 38.5389423, -90.407341
Ladue, Missouri, USA: 38.6497743, -90.3806725
Ferguson, Missouri, USA: 38.744707, -90.3038975
St. Ann, Missouri, USA: 38.72814435, -90.38790815533517
St. Louis, Missouri, USA: 38.6280278, -90.1910154
Camden, New Jersey, USA: 39.9448402, -75.1198911
New York, New York, USA: 40.7127281, -74.0060152
Holtsville, New York, USA: 40.809313599999996, -73.0320561130487
Winston-Salem, North Carolina, USA: 36.0998131, -80.2440518
Charlotte, North Carolina, USA: 35.2272086, -80.8430827
Park Hill, Oklahoma, USA: 35.8621725, -94.93705546298804
Ponca City, Oklahoma, USA: 36.703647, -97.081898
Pittsburgh, Pennsylvania, USA: 40.4416941, -79.9900861
Beaver Falls, Pennsylvania, USA: 40.7520097, -80.3192295
Reading, Pennsylvania, USA: 40.335345, -75.9279495
Altoona, Pennsylvania, USA: 40.5193586, -78.3968299
Bristol, Pennsylvania, USA: 40.122900200000004, -74.86447057681232
Johnstown, Pennsylvania, USA: 40.3267407, -78.9219698
Scranton, Pennsylvania, USA: 41.4086874, -75.6621294
Lancaster, Pennsylvania, USA: 40.0379958, -76.3056707
New Castle, Pennsylvania, USA: 40.9999202, -80.3471856
Norristown, Pennsylvania, USA: 40.1148787, -75.3433705
Freemansburg, Pennsylvania, USA: 40.6264875, -75.345735
Philadelphia, Pennsylvania, USA: 39.9527237, -75.1635262
Charleroi, Pennsylvania, USA: 40.1378499, -79.8981035
Greensburg, Pennsylvania, USA: 40.3014581, -79.5389289
York, Pennsylvania, USA: 39.962493, -76.7276989
Dallas, Texas, USA: 32.7762719, -96.7968559
El Paso, Texas, USA: 31.7601164, -106.4870404
Houston, Texas, USA: 29.7589382, -95.3676974
Seven Corners, Virginia, USA: 38.8659197, -77.1441137960276
McLean, Virginia, USA: 38.93668525, -77.1858430261388
Alexandria, Virginia, USA: 38.8051095, -77.0470229
Seattle, Washington, USA: 47.6038321, -122.330062
Milwaukee, Wisconsin, USA: 43.0386475, -87.9090751
Oakland, California, USA: 37.8044557, -122.271356
Crockett, California, USA: 38.036666, -122.20531126326466
West Los Angeles, California, USA: 34.0468546, -118.430254
East Saint Louis, Illinois, USA: 38.6268666, -90.159707
Boston, Massachusetts, USA: 42.3554334, -71.060511
Breckenridge Hills, Missouri, USA: 38.71978, -90.367624
Boulder City, Nevada, USA: 35.9776606, -114.8377351
Newark, New Jersey, USA: 40.735657, -74.1723667
Miami, Oklahoma, USA: 36.8746177, -94.877374
Grand Rapids, Michigan, USA: 42.9632425, -85.6678639
Manchester, New Hampshire, USA: 42.9956397, -71.4547891
Annandale, Virginia, USA: 38.838702999999995, -77.19517554705882
Fresno, California, USA: 36.7394421, -119.78483
Denver, Colorado, USA: 39.7392364, -104.984862
Kenner, Louisiana, USA: 29.9942265, -90.2417806
Erie, Pennsylvania, USA: 42.1294712, -80.0852695
Eureka, California, USA: 40.7906871, -124.1673746
New Haven, Connecticut, USA: 41.3082138, -72.9250518
Davenport, Iowa, USA: 41.5235808, -90.5770967
Presque Isle, Maine, USA: 46.6812216, -68.0154578
Essex, Maryland, USA: 39.301058999999995, -76.44248693849093
Tulsa, Oklahoma, USA: 36.1563122, -95.9927516
Wilkes-Barre, Pennsylvania, USA: 41.2464824, -75.8817316
North Little Rock, Arkansas, USA: 34.769536, -92.2670941
Berkeley, California, USA: 37.8708393, -122.272863
Benicia, California, USA: 38.049365, -122.1585777
Westport, Connecticut, USA: 41.1414855, -73.3578955
East Hartford, Connecticut, USA: 41.767914, -72.644512
Valrico, Florida, USA: 27.9484265, -82.23621545220522
Northbrook, Illinois, USA: 42.128704, -87.8265089
Des Moines, Iowa, USA: 41.5868654, -93.6249494
Beltsville, Maryland, USA: 39.039773499999995, -76.92718505662606
Portland, Oregon, USA: 45.5202471, -122.674194
Waco, Texas, USA: 31.5491899, -97.1474628
Fontana, California, USA: 34.0922947, -117.43433
Portland, Maine, USA: 43.6573605, -70.2586618
Cherry Tree, Oklahoma, USA: 35.745509, -94.65352790839718
San Antonio, Texas, USA: 29.4246002, -98.4951405
San Jose, California, USA: 37.3361663, -121.890591
Athens, Ohio, USA: 39.355589, -82.0610404
Cupertino, California, USA: 37.3228934, -122.0322895
Cornwall, Connecticut, USA: 41.8437058, -73.3292848
Reno, Nevada, USA: 39.5261206, -119.8126581
Deer Park, Texas, USA: 29.7052284, -95.1238204
East Highland Park, Virginia, USA: 37.580932250000004, -77.38251030935214
Hampton, Virginia, USA: 37.0264414, -76.3442846
El Cajon, California, USA: 32.7947731, -116.962526
Wilmington, Delaware, USA: 39.7459468, -75.546589
Blaine, Minnesota, USA: 45.1607987, -93.2349489
Albuquerque, New Mexico, USA: 35.0841034, -106.650985
Rochester, New York, USA: 43.157285, -77.615214
Cleveland, Ohio, USA: 41.4996574, -81.6936772
Cincinnati, Ohio, USA: 39.1014537, -84.5124602
Oklahoma City, Oklahoma, USA: 35.4729886, -97.5170536
East Providence, Rhode Island, USA: 41.8194081, -71.376257
Sioux Falls, South Dakota, USA: 43.5476008, -96.7293629
Salt Lake City, Utah, USA: 40.7596198, -111.886797
Austin, Texas, USA: 30.2711286, -97.7436995
Roosevelt, Utah, USA: 40.299403, -109.9887605
Birmingham, Alabama, USA: 33.5206824, -86.8024326
Vinton, Virginia, USA: 37.2800221, -79.8975673
Fairbanks, Alaska, USA: 64.837845, -147.716675
Grantsville, Maryland, USA: 39.6991282, -79.1577212
Londonderry, New Hampshire, USA: 42.8650869, -71.3739532
Raleigh, North Carolina, USA: 35.7803977, -78.6390989
Riverton, Wyoming, USA: 43.0247245, -108.380727
Jackson, Mississippi, USA: 32.2998686, -90.1830408
Bismarck, North Dakota, USA: 46.808327, -100.783739
Dentsville, South Carolina, USA: 34.0640426, -80.9581451
Rutland, Vermont, USA: 43.6084792, -72.9724768
Sunrise Manor, Nevada, USA: 36.1972977, -115.0452917
Midvale, Utah, USA: 40.6149174, -111.9106607
Davie, Florida, USA: 26.0628665, -80.2331038
Memphis, Tennessee, USA: 35.1460249, -90.0517638
Cheyenne, Wyoming, USA: 41.139981, -104.820246

In [ ]:
city_coordinates

In [11]:
latitude = []
longitude = []

for city in df.City:
    (lat, long) = city_coordinates[city]
    longitude.append(long)
    latitude.append(lat)

In [19]:
df['Latitude'] = latitude

In [21]:
df['Longitude'] = longitude

In [35]:
# Convert "Date Local" to datetime format
df["Date"] = pd.to_datetime(df["Date"], errors='coerce', infer_datetime_format=True)

# Extract Year and Month, ensuring they are integers
df["Year"] = df["Date"].dt.year.astype("Int64")   # Nullable integer type
df["Month"] = df["Date"].dt.month.astype("Int64")  # Ensures no floating-point month
df["Day"] = df["Date"].dt.day.astype("Int64")  # Ensures no floating-point month

C:\Users\leona\AppData\Local\Temp\ipykernel_8536\105525534.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df["Date"] = pd.to_datetime(df["Date"], errors='coerce', infer_datetime_format=True)

,Date,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,...,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,Latitude,Longitude,Year,Month,Day
0,2000-01-01,Arizona,Maricopa,Phoenix,0.019765,0.040,10,37,0.878947,2.2,...,13.0,19.041667,49.0,19,46,33.448437,-112.074141,2000,1,1
1,2000-01-02,Arizona,Maricopa,Phoenix,0.015882,0.032,10,30,1.066667,2.3,...,4.0,22.958333,36.0,19,34,33.448437,-112.074141,2000,1,2
2,2000-01-03,Arizona,Maricopa,Phoenix,0.009353,0.016,9,15,1.762500,2.5,...,16.0,38.125000,51.0,8,48,33.448437,-112.074141,2000,1,3
3,2000-01-04,Arizona,Maricopa,Phoenix,0.015882,0.033,9,31,1.829167,3.0,...,23.0,40.260870,74.0,8,72,33.448437,-112.074141,2000,1,4
4,2000-01-05,Arizona,Maricopa,Phoenix,0.007353,0.012,9,11,2.700000,3.7,...,21.0,48.450000,61.0,22,58,33.448437,-112.074141,2000,1,5
5,2000-01-06,Arizona,Maricopa,Phoenix,0.014000,0.025,10,23,2.308333,3.6,...,24.0,39.950000,73.0,8,71,33.448437,-112.074141,2000,1,6
6,2000-01-07,Arizona,Maricopa,Phoenix,0.013235,0.024,10,22,1.829167,3.5,...,30.0,29.625000,43.0,9,41,33.448437,-112.074141,2000,1,7
7,2000-01-08,Arizona,Maricopa,Phoenix,0.011176,0.020,10,19,2.787500,5.1,...,26.0,29.666667,41.0,0,39,33.448437,-112.074141,2000,1,8
8,2000-01-09,Arizona,Maricopa,Phoenix,0.012588,0.022,10,20,1.675000,2.8,...,19.0,25.083333,37.0,20,35,33.448437,-112.074141,2000,1,9
9,2000-01-10,Arizona,Maricopa,Phoenix,0.010000,0.015,9,14,2.179167,3.7,...,30.0,37.666667,70.0,20,68,33.448437,-112.074141,2000,1,10

In [39]:
df.head()

,State,County,City,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,...,SO2 AQI,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,Latitude,Longitude,Year,Month,Day
0,Arizona,Maricopa,Phoenix,0.019765,0.040,10,37,0.878947,2.2,23,...,13.0,19.041667,49.0,19,46,33.448437,-112.074141,2000,1,1
1,Arizona,Maricopa,Phoenix,0.015882,0.032,10,30,1.066667,2.3,0,...,4.0,22.958333,36.0,19,34,33.448437,-112.074141,2000,1,2
2,Arizona,Maricopa,Phoenix,0.009353,0.016,9,15,1.762500,2.5,8,...,16.0,38.125000,51.0,8,48,33.448437,-112.074141,2000,1,3
3,Arizona,Maricopa,Phoenix,0.015882,0.033,9,31,1.829167,3.0,23,...,23.0,40.260870,74.0,8,72,33.448437,-112.074141,2000,1,4
4,Arizona,Maricopa,Phoenix,0.007353,0.012,9,11,2.700000,3.7,2,...,21.0,48.450000,61.0,22,58,33.448437,-112.074141,2000,1,5

In [ ]:
df.to_csv(CLEANED_DATA_FILE_PATH)